.head{
}
.head h2 {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    
}
.head h4 {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    
}

.careerContainer{
    margin: 0 20%;
    width: 60%;
}